@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  display: block;
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
/* 모달 창 */
#modal{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999999;
  display: none;
}
.modal-inner{
  background-color: #fff;
  width: 300px;
  /* height: 300px; */
  /* 안에 내용이 더 들어갈 수도 있기 때문에 높이 값은 안주는 것이 좋다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  padding: 30px;
}
.modal-title{
  margin-bottom: 20px;
}
.close{
  background-color: aquamarine;
  width: 80px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* 전체 영역 */
.wrap {
  width: 1200px;
  height: 700px;
  background-color: antiquewhite;
  margin: auto; /* top만 0이고 가운데 정렬 됨 */
}
/* A 상단 */
header {
  width: 1200px;
  height: 100px;
  display: flex;
  background-color: aqua;
}
/* 로고 */
.logo {
  width: 200px;
  height: 100%;
  line-height: 100px;
  text-align: center;
  background-color: bisque;
  padding: 10px;
}
.logo a img {
  width: 100%;
}
/* 메뉴 */
.nav {
  position: relative;
  width: 1000px;
  height: 100%;
  background-color: rgb(255, 162, 224);
}
/* 메인 메뉴 */
.gnb {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 600px;
  height: 50px;
  display: flex;
  /* ↑이걸해줘야 list들이 옆으로 가붙음 아래로 나열이 아니라 */
  background-color: rgb(185, 185, 255);
  z-index: 9;
  /* ↑레이어를 위로 올리는 명령. 기준은 0 내리고 싶으면 마이너스1부터 */
}
/* li 에 너비주면 나중에 a 에 또 너비주고 할 수있기 때문에 진즉에 li 말고 a 에 바로 너비 주자 */
.gnb > li > a {
  /* 꺽쇠 안하면 .gnb 안의 모든 li의 a에 적용됨 */
  /* 꺽쇠 하면 바로 아래 자식 한테만 적용됨 */
  background-color: rgb(255, 199, 126);
  width: calc(600px / 4);
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.gnb > li:hover > a {
  background-color: #333;
  color: #fff;
}
/* .gnb:hover .depth2{
    display: block;
} */
/* ↑ 이렇게 하면 gnb에 마우스 갖다대면 서브 메뉴 전체가 다 나옴 */
/* .gnb > li:hover .depth2 {
  display: block;
} */
 /* 제이쿼리 위해 잠시 주석 */
/* 서브 메뉴 */
.depth2 {
  background-color: rgb(145, 255, 255);
  text-align: center;
  display: none;
}
.depth2 > li > a {
  padding: 10px 0;
}
.depth2 > li:hover > a {
  background-color: #333;
  color: #fff;
}
/* B 비주얼 */
.slide {
  position: relative;
  /* ↑ li 의 기준 이거 안 잡아주면 li 들 body(전체)를 기준으로 잡음 */
  width: 1200px;
  height: 300px;
  background-color: rgb(127, 255, 165);
}
.slide-all {
  width: 100%;
  height: 300px;
}
/* ↑어거 없어도 됨 */
.slide-all > li {
  position: absolute;
  /* ↑여러개의 이미지들을 한 곳으로 모아줌 이미지 윗 단계인 li들을 한 번에 위치 잡아 주니까*/
  width: 100%;
  height: 100%;
}
.slide-all > li > a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide-all > li > a > img {
  width: 100%;
  /* height: 100%; */
  /* 높이 % 로 하고 싶으면 타고타고 부모 하나하나 다 너비값 줘야함 하나라도 빠지면 안됨 왜나하면 바로 위에 부모 크기 따라 100% 가기 때문 */
  /* 높이를 그냥 px 로 크기 박아버리면? 이미지 찌그러짐 그러면 안됨 */
  display: block;
  /* 이미지는 선천적으로 inline 이라서 큰 이미지들 사이에 작은 틈이 있음 그게 싫으면 block해서 빈 틈을 없애줌 */
}
.slide-all > li > a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding: 10px 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
/* C 콘텐츠 */
.contents {
  width: 1200px;
  height: 200px;
  background-color: rgb(142, 129, 255);
  display: flex;
}
.contents > div {
  padding: 10px;
  position: relative;
}
/* 공지사항/갤러리 */
/* .c{
  width: calc(100% / 3);
  height: 200px;
  background-color: rgb(255, 0, 0);
} */
.c1 {
  width: calc(100% / 3);
  height: 200px;
  background-color: rgb(255, 120, 120);
  display: flex;
  /* f12번 눌러서 display:flex style 가서 모양 바꿔보기 거기보면 aligne-items 있음 */
  align-items: flex-start;
}
.c1 h4 {
  background-color: tomato;
  width: 70px;
  text-align: center;
  line-height: 35px;
}
.c1 h4.on {
  /* ↑h4에 클래스 준거기 때문에 띄우지 말기! */
  background-color: chartreuse;
}
.c1 ul {
  position: absolute;
  top: 45px;
  left: 10px;
  width: calc(100% - 20px);
  /* 패딩 얼마줬는 지 아는 게 중요. 그래야 그 값 만큼 빼니까 */
  padding: 10px;
  font-size: 16px;
  background-color: cadetblue;
  /* ↓누르기 전엔 보이지마 */
  display: none;
}
.c1 ul.on {
  /* ↓누르면(on되면) 나타나라 */
  display: block;
}
/* 공지사항 */
.notice li {
  width: 100%;
}
.notice li:nth-child(odd) {
  /* li에 홀수 애들만 색 바꿔라 짝수는 (even) */
  background-color: antiquewhite;
}
.notice li a {
  font-size: 14px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  /* gap: 70px; */
  /* 근데 다 다른 너비의 스페이스를 주고 싶으면 gap 말고 space-between을 써야함 */
  padding: 5px 0;
}
.notice-txt {
  width: 60%;
}
/* 갤러리 */
.gal li{
  float: left;
  margin-right: 15px;
  padding: 20px 10px;
  /* background-color: aqua; */
}
.gal li:last-child{
  margin-right: 0;
}
.gal {
  /* width: calc(100% - 20px); */
  /* padding 값 좌우 10씩 빼야 안 튀어 나감 */
  /* display: flex; */
  /* justify-content: space-between; */
  /* 이것도 마찬가지로 f12 누르고 styles에 .gal에 display:flex 가보면 됨. 맘에 드는거 드래그 해오면 끝.*/
}
/* 배너 */
.c2 {
  width: calc(100% / 3);
  height: 200px;
  background-color: rgb(173, 179, 255);
}
.c2 a,
.c3 a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.c2 a img,
.c2 a img {
  width: 100%;
}
.c2 a span,
.c3 a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding: 10px 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
/* 바로가기 */
.c3 {
  width: calc(100% / 3);
  height: 200px;
  background-color: rgb(150, 255, 164);
}
/* D 하단 */
.footer {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 172, 255);
}
/* ft-lo */
.ft-logo {
  width: 200px;
  height: 100%;
  padding: 10px;
  background-color: violet;
}
.ft-logo a {
  line-height: 100px;
}
.ft-logo a img {
  width: 100%;
  filter: grayscale(1); /* 흑백 필터 */
}
/* ft-copy */
.ft-copy {
  background-color: chartreuse;
  width: 900px;
  height: 100%;
}
.bottom_menu {
  width: 60%;
  line-height: 50px;
  display: flex; /* 글 가로 정렬 */
  margin: auto; /* 가운데 정렬 */
  padding: 10px 0;
  background-color: aqua;
}
.bottom_menu li {
  width: calc(100% / 3);
  line-height: 30px;
  text-align: center;
  position: relative;
  /* border-right: 1px solid #ddd; */
}
/* .bottom_menu li 에 position: relative 포함 */
/* ↓ 아래 두 파트는 메뉴 li 사이에만 bar 넣기 */
/* 공식으로 외우기!!! */
.bottom_menu li::after {
  content: "";
  border: 1px solid red;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
}
.bottom_menu li:last-child::after {
  border: none;
}
.ft-copy p {
  width: 100%;
  text-align: center;
  line-height: 50px;
  background-color: aquamarine;
}
